* {
    margin: 0;
    padding: 0;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.container {
    display: flex;
}

.gameplay {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    gap: 10px;
}

button {
    color: dodgerblue;
    background-color: white;
    border-radius: 10px;
    padding: 10px;
}